.pagewarp{
  .tool{
    margin: 20px auto;
  }
}
.earthWarp{
  // height: 100%;
  width: 100%;
  width: 800px;
  overflow: hidden;
  position: relative;//很关键
  // height: 600px;
   /*默认html层级*/
   .overlayHtml {
    transform: translate(-50%, -100%);
    z-index: 100;
  }
}

